<div class="component" >
    <!-- <div > -->
        <mat-form-field appearance="legacy" [@active]="active$ | async" >
            <!-- <mat-label>Search...</mat-label> -->
            <input #inputel (input)="handleInput($event)" autocomplete="off" type="text" matInput placeholder="Search..." [class.active]="active$ | async">
            <!-- <mat-icon matSuffix>magnify</mat-icon> -->
          </mat-form-field>
        <button mat-icon-button (click)="setActive()">
            <mat-icon>search</mat-icon>
        </button>
</div>