$xsmall-1: 359px;
$xsmall-2: 399px;
$xsmall-3: 479px;
$xsmall-4: 599px;

$small-1: 719px;
$small-2: 839px;
$small-3: 959px;
$small-4: 1023px;

$medium-1: 1279px;
$medium-2: 1439px;

$large-1: 1599px;
$large-2: 1919px;